<ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://i.picsum.photos/id/984/900/500.jpg?hmac=5lXoZkTSzifDN1Z4RBbBcpHj8DZBmyjhNdLsp9vi3kg" alt="Random first slide" />
		</div>
		<div class="carousel-caption container">
            <div class="carousel-caption-content">
                <div>
                    <div class="carousel-caption-heading-div">
                        <h2 class="carousel-caption-heading">The Most Valuable Thinkg is Your Health</h2>
                        <!-- <h2 class="carousel-caption-heading"></h2>
                        <h2 class="carousel-caption-heading"></h2> -->
                    </div>
                    <div class="carousel-caption-paragraph-div">
                        <p class="carousel-caption-paragraph">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Consequuntur, tempore molestiae eum odio et corrupti distinctio vitae fugiat pariatur quidem dolores 
                            reprehenderit qui quis tempora voluptatum dicta nihil blanditiis incidunt. Illo libero, earum doloremque 
                            dignissimos dolorem minus eius enim sunt sint,quaerat rem repudiandae soluta perspiciatis, 
                            cumque mollitia est dolor.
                        </p>
                    </div>
                </div>
            </div>
		</div>
	</ng-template>
	<!-- <ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://i.picsum.photos/id/1011/900/500.jpg?hmac=twSEfoAh6FjOiVcusAReH6ZwI4CYSjT5cWeRc-vCaDE" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://i.picsum.photos/id/944/900/500.jpg?hmac=s0iIukNjM80HLqh5x1khzHPzpcz7rHX6226YCc6fJ6U" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h3>Third slide label</h3>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
		</div>
	</ng-template> -->
</ngb-carousel>