<div class="background">
    <div class="image">
        <div fxLayout="row" fxLayoutAlign="end" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <!-- <mat-grid-list cols="2"> --> 
                <!-- <mat-grid-tile></mat-grid-tile> -->
                <!-- <mat-grid-tile> -->
            <div class="login" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
                <div class="login-content">
                    <div class="login-container">
                        <div class="login-heading">
                            <h3>welcome to <span class="login-companyname">SAHINS</span></h3>
                        </div>
                        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                            <!-- <mat-form-field class="formField" appearance="outline"> -->
                            <!-- <div style="display: flex; background-color: rgba(4, 55, 82, 0.2);"> -->
                                <!-- <div> -->
                                    <!-- <mat-icon matSuffix>person</mat-icon> -->
                                    <!-- <mat-label>User Name</mat-label> -->
                                    <!-- <input type="text" matInput placeholder="User Name" name="username" formControlName="username"> -->
                                    <div class="input-group flex-nowrap" style="margin-bottom: 1.3rem;">
                                        <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-user"></i></span>
                                        <input type="text" class="form-control  shadow-none"  placeholder="Username" formControlName="username" aria-label="Username"  aria-describedby="addon-wrapping">
                                    </div>
                                    <div class="validation" *ngIf="username && username.invalid && username.touched">
                                        <span *ngIf="username.errors?.['required']" class="validation-span">Please enter your UserName*</span>
                                        <span *ngIf="username.errors?.['minlength'] || username.errors?.['maxlength']" class="validation-span">Please enter correct UserName*</span>
                                    </div>
                                <!-- </div> -->
                            <!-- </div> -->
                            <!-- </mat-form-field> -->
                            <!-- <span *ngIf="username"></span> -->
                        <!-- <mat-form-field class="formField" appearance="outline"> -->
                            <!-- <mat-icon matSuffix>lock</mat-icon> -->
                            <!-- <mat-label>Password</mat-label> -->
                            <!-- <input matInput formControlName="password"> -->
                            <div class="input-group flex-nowrap" style="margin-bottom: .8rem;">
                                <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-unlock-keyhole"></i></span>
                                <input type="password" class="form-control  shadow-none" formControlName="password" placeholder="password" aria-label="Username" aria-describedby="addon-wrapping">
                            </div> 
                            <div class="validation" *ngIf="password && password.invalid && password.touched">
                                <span  class="validation-span" *ngIf="password.errors?.['required']">Please enter your Password*</span>
                                <!-- <span  class="validation-span" *ngIf="password.errors?.['pattern']">Please enter your correct Password*</span> -->
                            </div>
                        <!-- </mat-form-field> -->
                            <span class="forget-span" >Forget Password?</span>
                        <button type="submit"  mat-raised-button disableRipple (click)="button()" [disabled]="loginForm.invalid">Login</button>
                        <!-- <button (click)="router()" mat-raised-button disableRipple  [disabled]="loginForm.invalid">Login</button> -->
                    </form>
                </div>
                </div>
            </div>
        </div>
        <!-- </mat-grid-tile> -->
    <!-- </mat-grid-list> -->
</div>
</div>
