<div class="background">
    <div class="image">
        <div fxLayout="row" fxLayoutAlign="end" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <!-- <mat-grid-list cols="2"> --> 
                <!-- <mat-grid-tile></mat-grid-tile> -->
                <!-- <mat-grid-tile> -->
            <div class="login" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
                <div class="login-content">
                    <div class="login-container">
                        <div class="login-heading">
                            <h3>welcome to <span class="login-companyname">SAHINS</span></h3>
                        </div>
                        <form>
                            <mat-form-field class="formField" appearance="outline">
                            <!-- <div style="display: flex; background-color: rgba(4, 55, 82, 0.2);"> -->
                                <mat-icon matSuffix>person</mat-icon>
                                <mat-label>User Name</mat-label>
                                <input matInput placeholder="User Name">
                            <!-- </div> -->
                        </mat-form-field>
                        <mat-form-field class="formField" appearance="outline">
                            <mat-icon matSuffix>lock</mat-icon>
                            <mat-label>Password</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <span>Forget Password?</span>
                        <button mat-raised-button disableRipple (click)="router()">Login</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
        <!-- </mat-grid-tile> -->
    <!-- </mat-grid-list> -->
</div>
</div>
