<div class="container-fluid">
    <div class="container">
        <div class="content">
            <div class="inputs mt-5">
                <div class="row">
                    <div class="col-12 col-md-6 col-sm-12 col-lg-8">
                        <form class="input-tag">
                            <mat-form-field>
                                <mat-label>Add List</mat-label>
                                <input type="text" matInput #add [(ngModel)]="todoInput" [ngModelOptions]="{standalone: true}">
                                <mat-icon matSuffix (click)="addtodo()">add_circle_outline</mat-icon>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12 col-lg-4">
                        <form class="select-tag">
                            <mat-form-field appearance="outline" (change)="onChangeSelect(select.value)">
                            <select matNativeControl #select required>
                                <option value="all">All</option>
                                <option value="active">Active</option>
                                <option value="completed">Completed</option>
                            </select>
                        </mat-form-field>
                    </form>
                </div>
            </div>
        </div>
        <div class="output mt-5">
            <div class="m-5">
                <div class="result" *ngFor="let todo of todos">
                    <div class="checkbox-div" >
                        <input type="checkbox" class="mb-3 p-5" [value]="todo.completed" [checked]="todo.completed" (change)="onChangeStatus($event,todo)">
                        <!-- <mat-checkbox class="m-1" [value]="todo.completed" [checked]="todo.completed" (change)="onChangeStatus($event,todo)"></mat-checkbox> -->
                    </div>
                    <div class="title-div ms-3">
                        <h3>{{todo.title}}</h3>
                    </div>
                    <div class="delete-div" >
                        <mat-icon (click)="delete(todo.id)">delete</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>