$primary:#043752;
$secondary:white;
$light-primary:#2c566d5d;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    width:100%;
    background-color: $primary;
    .navigation{
        height:10vh;
        margin-left:15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .sidenav{
            display: none;
            i{
                font-size: 1.5rem;
                color:white;
            }
        }
        .input-box{
            display: flex;
            align-items: center;
            height: 100%;
            mat-icon{
                position: absolute;
                color:$primary;
                // background-color: white;
                margin-left: 10px;
            }
            input{
                // border-radius: 2px;
                padding: 5px  0px;
                font-size: .9rem;
                text-align: center;
                width: 250px;
            }
        }
        .notification{
            display: flex;
            align-items: center;
            height: 100%;
            margin-right: 5rem;
            .douts{
                display: none;
                font-size: 1.5rem;
                color: white;
            }
            .notification-block{
                display: flex;
                .notification-button{
                    margin:0rem 1.5rem;
                    // display: block;
                    button{
                        background-color: $secondary;
                        mat-icon{
                            color:$primary;
                        }
                    }
                    span{
                        font-size: .8rem;
                        text-align: center;
                        display: block;
                        color: $secondary;
                        }
                    }
                }
            }
        }
}

.toggle{
    display: none;
}

//media query under 768px;

@media (min-width:375px) and (max-width:767px){
    .nav{
        .navigation{
            margin:0px;
            display: flex;
            justify-content:space-between;
            .sidenav{
                display: block;
                margin-left:1rem;
            }
            .notification{
                margin-right:2rem;
                .douts{
                    display: block;
                }
                .notification-block{
                    display: block;
                    .notification-button{
                        display: none;
                    }
                }
            }
        }
    }
}