<div class="nav">
    <div class="navigation">
        <div class="input-box">
            <mat-icon matSuffix>search</mat-icon>
            <input type="text" placeholder="search...">
        </div>
        <div class="notification">
            <div class="notification-button">
                <button mat-mini-fab style="margin-left: 10px;">
                    <mat-icon>notification_important</mat-icon>
                </button>
                <span>Notifictaion</span>
            </div>
            <div class="notification-button">
                <button mat-mini-fab>
                    <mat-icon>person</mat-icon>
                </button>
                <span>User</span>
            </div>
        </div>
    </div>
</div>
