$primary:#043752;
$secondary:white;
$light-primary:#2c566d5d;


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    // background-color: aqua;
    .content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
      
        .chart{
            display: flex;
            flex-wrap: wrap;
            .charts{
                height:250px;
                width:300px;
                // background-color: rgb(255, 0, 0);  
                background-color: rgba(216, 214, 214, 0.534);  
                margin: 2rem;         
                 border-radius: 8px; 
            // .card{
                .top-content{
                    display: flex;
                    justify-content: space-between;
                    button{
                        background-color: $light-primary;
                        // padding:.5px 10px .5px 10px;
                        height:2rem;
                        color: $primary;
                        font-size: .8rem;
                    }
                    p{
                        color: $primary;
                        font-weight: 500;
                        margin-top:10px;
                    }
                }
                .chart-width{
                    width:200px;
                    height:200px
                }
                // }
                .login{
                    display: flex;;
                    justify-content: space-around;
                    align-items: center;
                    h5{
                        text-align: center;
                        color:$primary;
                        font-weight: 500;
                        font-size: .75rem;
                    }
                    i{
                        // text-align: center;
                        font-size: 4rem;
                        color:$primary;
                        margin-top: 10px;
                    }
                    p{
                        text-align: center;
                        color: $primary;
                        margin-top: 10px;
                        font-size: .75rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

/*media query for the laptop screen */

@media(min-width:1024px) and (max-width:1439px){
    .container{
        .content{
            .chart{
                .charts{
                    height:300px;
                    width:250px;
                    // margin: .8rem;         
                }
            }
        }
    }   
}

/*media query for the tab screen */

@media(min-width:768px) and (max-width:1023px){
    .container{
        .content{
            .chart{
                .charts{
                    height:250px;
                    width:250px;
                    margin: .8rem;         
                }
            }
        }
    }   
}

/*media query for the mobile screen */

@media(min-width:375px) and (max-width:767px){
    .container{
        .content{
            .chart{
                .charts{
                    height:250px;
                    width:350px; 
                    margin: .8rem;       
                }
            }
        }
    }   
}