$primary:#043752;
$secondary:white;
$light-primary:#2c566d5d;
$date-button:#2c566d8f;


.containers{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    // background-color: aqua;
    .content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 80%;
        .chart{
            display: flex;
            flex-wrap: wrap;
            .charts{
                height:260px;
                width:330px;
                // background-color: rgb(255, 0, 0);  
                background-color: rgba(216, 214, 214, 0.534);  
                margin: 2rem;         
                 border-radius: 8px; 
            // .card{
                .top-contents{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    // width:100%;
                    button{
                        background-color: $light-primary;
                        // padding:.5px 10px .5px 10px;
                        height:2rem;
                        color: $primary;
                        font-size: .8rem;
                    }
                    p{
                        color: $primary;
                        font-weight: 500;
                        margin-top:10px;
                    }
                    div{
                        display: flex;
                        justify-content: flex-end;
                        // background-color:$light-primary;
                        // width:7rem;
                        input{
                            // float: right;
                            text-align: center;
                            // margin-right: -4rem;
                            font-size: .8rem;
                            font-weight: 700;
                            color:$primary;
                            background-color:$light-primary;
                            border:none;
                            width:50%;
                            height: 1.65rem;
                            border-radius: 5px;
                        }
                        input:active{
                            border:none
                        }
                        mat-icon{
                            // position: absolute;
                            // margin-left: 1.5rem;
                            // margin-top:3px ;
                            color:$primary;
                            // float: right;
                        }
                    }
                }
                .chart-width{
                    width:200px;
                    height:100px
                }
                // }
                .login{
                    display: flex;;
                    justify-content: space-around;
                    align-items: center;
                    h5{
                        text-align: center;
                        color:$primary;
                        font-weight: 500;
                        font-size: .75rem;
                    }
                    i{
                        // text-align: center;
                        font-size: 4rem;
                        color:$primary;
                        margin-top: 10px;
                    }
                    img{
                        height: 70px;
                    }
                    p{
                        text-align: center;
                        color: $primary;
                        margin-top: 10px;
                        font-size: .75rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

/*media query for the laptop screen */

@media(min-width:1150px) and (max-width:1439px){
    .containers{
        .content{
            .chart{
                .charts{
                    height:300px;
                    width:300px;
                    margin: .8rem;         
                }
            }
        }
    }   
}

@media(min-width:1024px) and (max-width:1149px){
    .containers{
        .content{
            .chart{
                .charts{
                    height:300px;
                    width:263px;
                    margin: .8rem;         
                }
            }
        }
    }   
}

/*media query for the tab screen */

@media(min-width:768px) and (max-width:879px){
    .containers{
        .content{
            .chart{
                .charts{
                    height:280px;
                    width:230px;
                    margin: .8rem;         
                }
            }
        }
    }   
}

@media(min-width:880px) and (max-width:1024px){
    .containers{
        .content{
            .chart{
                .charts{
                    height:280px;
                    width:265px;
                    margin: .8rem;         
                }
            }
        }
    }   
}

/*media query for the mobile screen */

@media(min-width:375px) and (max-width:767px){
    .containers{
        .content{
            .chart{
                .charts{
                    height:250px;
                    width:300px; 
                    margin: .8rem;       
                }
            }
        }
    }   
}