
<div class="container">
    <div class="content">
        <!-- <div class="charts"> -->
            <mat-card class="charts">
                <mat-card-content class="top-content">
                    <p>hello</p>
                    <button mat-raised-button>SHARE<mat-icon>keyboard_arrow_down</mat-icon></button>
                </mat-card-content>
                <mat-card-content class="chart-width">
                        <canvas id="charts1"></canvas>     
                </mat-card-content>
              </mat-card>
        <!-- </div> -->
        <!-- <div class="charts"> -->
            <mat-card class="charts">
                <mat-card-content class="top-content">
                    <p>hello</p>
                    <button mat-raised-button>SHARE<mat-icon>keyboard_arrow_down</mat-icon></button>
                </mat-card-content>
                <mat-card-content class="chart-width">
                    <canvas id="charts"></canvas>     
            </mat-card-content>
              </mat-card>
        <!-- </div> -->
        <!-- <div class="charts"> -->
            <mat-card class="charts">
                <mat-card-content class="top-content">
                    <p>hello</p>
                    <button mat-raised-button>SHARE<mat-icon>keyboard_arrow_down</mat-icon></button>
                </mat-card-content>
                <mat-card-content>
                  <p>This card indeterminates progress bar.</p>
                </mat-card-content>
              </mat-card>
        <!-- </div> -->
        <!-- <div class="charts"> -->
            <mat-card class="charts">
                <mat-card-content class="top-content">
                    <p>hello</p>
                    <button mat-raised-button>SHARE<mat-icon>keyboard_arrow_down</mat-icon></button>
                </mat-card-content>
                <mat-card-content>
                  <p>This card indeterminates progress bar.</p>
                </mat-card-content>
              </mat-card>
        <!-- </div> -->
        <!-- <div class="charts"> -->
            <mat-card class="charts">
                <mat-card-content class="top-content">
                    <p>hello</p>
                    <button mat-raised-button>SHARE<mat-icon>keyboard_arrow_down</mat-icon></button>
                </mat-card-content>
                <mat-card-content>
                  <canvas id="charts"></canvas>
                </mat-card-content>
              </mat-card>
        <!-- </div> -->
        <!-- <div class="charts"> -->
            <mat-card class="charts">
                <mat-card-content class="top-content">
                    <p>hello</p>
                    <button mat-raised-button>SHARE<mat-icon>keyboard_arrow_down</mat-icon></button>
                </mat-card-content>
                <mat-card-content>
                  <p>This card indeterminates progress bar.</p>
                </mat-card-content>
            </mat-card>
        <!-- </div> -->
    </div>