<div class="containers">
    <div class="content">
        <form class="form">
            <div fxLayout="row" fxLayoutGap="2%">
                <mat-form-field  fxFlex="30%" fxFlex.sm="50%"   class="example-full-width" appearance="fill">
                    <mat-label>Search By First Name</mat-label>
                        <input type="text" matInput placeholder="Search By First Name" (keyup)="searchName($event)">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                </mat-form-field>
                <section fxLayout="row" fxLayoutAlign="space-around center">
                    <mat-checkbox class="mat-checkbox"><span class="entities-copyright">C</span>urrent Only</mat-checkbox>
                <!-- </section> -->
                <!-- <section  fxLayout="row" fxLayoutAlign="space-around center"> -->
                    <button mat-button class="button-reset">RESET</button>
                <!-- </section> -->
                <!-- <section  fxLayout="row" fxLayoutAlign="space-around center"> -->
                    <button mat-raised-button class="button-search">SEARCH</button>
                </section>
            </div>
            <div fxLayout="row" fxLayoutGap="2%">
                <mat-form-field  fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="50%" class="example-full-width" appearance="fill">
                    <mat-label>Company Name</mat-label>
                        <input type="text" matInput placeholder="company name" [formControl]="companyNameFormControl" [matAutocomplete]="companyname" (keyup)="searchName($event)">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                    <mat-autocomplete autoActiveFirstOption #companyname="matAutocomplete" (optionSelected)="Selected($event.option.value)">
                        <mat-option *ngFor="let option of  Finalcompanyname | async" [value]="option.company_name">
                          {{option.company_name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="2%">
                <mat-form-field  fxFlex="14%" fxFlex.md="30%" fxFlex.sm="50%" fxFlex.xs="50%" class="example-full-width" appearance="fill">
                    <mat-label>Designation</mat-label>
                        <input type="text" matInput placeholder="Designation" [formControl]="designationFormControl" [matAutocomplete]="Designation" (keyup)="searchName($event)">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                    <mat-autocomplete autoActiveFirstOption #Designation="matAutocomplete" (optionSelected)="Selected($event.option.value)">
                        <mat-option *ngFor="let option of Finaldesignation | async" [value]="option.designation">
                          {{option.designation}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- <mat-form-field  fxFlex="14%" class="example-full-width" appearance="fill">
                    <mat-label>State</mat-label>
                        <input type="text" matInput placeholder="state" [formControl]="stateFormControl" [matAutocomplete]="state">
                    <mat-hint>Errors appear instantly!</mat-hint>
                    <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                    <mat-autocomplete autoActiveFirstOption #state="matAutocomplete">
                        <mat-option *ngFor="let option of statefilterOptions | async" [value]="stateOption">
                          {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field> -->
                <mat-form-field  fxFlex="14%" fxFlex.md="30%"  fxFlex.sm="50%" fxFlex.xs="50%" class="example-full-width" appearance="fill">
                    <mat-label>City</mat-label>
                    <input type="text" matInput placeholder="city" [formControl]="cityFormControl" [matAutocomplete]="city" (keyup)="searchName($event)">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                    <mat-autocomplete autoActiveFirstOption #city="matAutocomplete" (optionSelected)="Selected($event.option.value)">
                        <mat-option *ngFor="let option of finalcity | async" [value]="option.city"> 
                            {{option.city}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </form>
        <div class="table">
        <mat-table  matSort [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

            <ng-templete #templete matColumnDef="e_id">
                    <th mat-header-cell *matHeaderCellDef>E.No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.e_id}} </td>  
            </ng-templete>
            
            <ng-container matColumnDef="first_name">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> First Name </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="!element.edit">
                        {{element.first_name}}
                    </div>
                    <div *ngIf="element.edit">
                        <input type="text">
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="last_name">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Last Name </th>
                <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="company_name">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Company Name </th>
                <td mat-cell *matCellDef="let element"> {{element.company_name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="designation">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Designation </th>
                <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
            </ng-container>
            
            <ng-container matColumnDef="email">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            
            <ng-container matColumnDef="address">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Address </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>
            
            <ng-container matColumnDef="phone">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Phone  </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>
            
            
            <ng-container matColumnDef="city">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> City </th>
                <td mat-cell *matCellDef="let element"> {{element.city}} </td>
            </ng-container>
            
            <!-- <ng-container matColumnDef="d_o_b">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> DOB </th>
                <td mat-cell *matCellDef="let element"> {{element.d_o_b}} </td>
            </ng-container> -->
            <ng-container matColumnDef="detail">
                <th mat-header-cell *matHeaderCellDef> Detail </th>
                <td mat-cell *matCellDef="let element"><button mat-raised-button class="view-button" (click)="employeedetail(element.e_id)">View</button></td>
                <!-- <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-raised-button class="view-button" (click)="employeedetail(element.e_id)">
                        view
                    </button>
                    <button mat-raised-button class="view-button" (click)="edit(element.e_id)">
                        edit
                    </button>
                  </mat-menu>
                </td> -->
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> edit </th>
                <td mat-cell *matCellDef="let element"><button mat-raised-button class="view-button" (click)="edit(element)">edit</button></td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </mat-table>
        <mat-paginator
        #paginator  
        [pageSize]="5"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = $event"
        aria-label="Select page"
        showFirstLastButtons
        >
    </mat-paginator>
</div>
</div>
</div>