*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.containers{
    height: 100vh;
}
.content{
    padding:5rem;
}
.mat-checkbox{
    padding-left: 2px;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.705);
}

.entities-copyright{
    background-color: rgb(0, 119, 255);
    padding:.5px 3px;
    border-radius: 50%;
    color: white;
    font-size: 1.2rem;
}
.button-reset{ 
    padding:3px 20px;
    color: rgb(0, 119, 255);
    margin:0 5px;
}
.button-search{ 
    padding:1.5px 20px;
    background-color: rgb(0, 119, 255);
    color: white;
    margin:0 5px;
}
.table{
    display: flex;
    flex-direction: column;
    min-width:300px;
    height: 366px;
}
mat-table{
    /* width: 100%; */
    overflow: auto;
    /* margin-top: 3rem; */
    /* table-layout: fixed; */
    /* overflow: hidden; */
}
th{
    font-size: 1rem;
    text-align: center;
    background-color: #04AA6D;
    color: white;
    width:2%;
    height:0;
}
th.mat-header-cell:first-of-type{
    padding:22.5px 0px;
    padding-left:24px;
}
tr.mat-header-row{
    height:45px;
}
tr.mat-row, tr.mat-footer-row {
    margin-top:20px;
    height: 45px;
    /* text-align: center; */
}
td{
    font-size: .9rem;
    font-weight: 400;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:hover{
    background-color: #ddd;
}

.view-button{
    background-color: rgba(0, 68, 255, 0.89);
    color:white;
}
